{{- /*
Copyright 2024-2025 New Vector Ltd
Copyright 2025-2026 Element Creations Ltd

SPDX-License-Identifier: AGPL-3.0-only
*/ -}}

{{- with $.Values.matrixRTC -}}
{{- if .enabled -}}
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "element-io.matrix-rtc-authorisation-service.labels" (dict "root" $ "context" .) | nindent 4 }}
  name: {{ $.Release.Name }}-matrix-rtc-authorisation-service
  namespace: {{ $.Release.Namespace }}
spec:
{{- $ingressService := .ingress.service -}}
{{ with .ingress.service.type | default $.Values.ingress.service.type }}
  type: {{ . }}
{{- if (list "LoadBalancer" "NodePort") | has . }}
  externalTrafficPolicy: {{ $ingressService.externalTrafficPolicy | default $.Values.ingress.service.externalTrafficPolicy }}
{{- end }}
{{- end }}
  internalTrafficPolicy: {{ .ingress.service.internalTrafficPolicy | default $.Values.ingress.service.internalTrafficPolicy }}
  ipFamilyPolicy: PreferDualStack
  ports:
  - name: http
    port: 8080
    targetPort: http
  selector:
    app.kubernetes.io/instance: "{{ $.Release.Name }}-matrix-rtc-authorisation-service"
{{- end -}}
{{- end -}}
