{{- /*
Copyright 2024 New Vector Ltd
Copyright 2025-2026 Element Creations Ltd

SPDX-License-Identifier: AGPL-3.0-only
*/ -}}

{{- with $.Values.synapse -}}
{{- if .enabled -}}
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "element-io.synapse-ingress.labels" (dict "root" $ "context" $.Values.haproxy) | nindent 4 }}
  name: {{ $.Release.Name }}-synapse
  namespace: {{ $.Release.Namespace }}
spec:
{{- $ingressService := .ingress.service -}}
{{ with .ingress.service.type | default $.Values.ingress.service.type }}
  type: {{ . }}
{{- if (list "LoadBalancer" "NodePort") | has . }}
  externalTrafficPolicy: {{ $ingressService.externalTrafficPolicy | default $.Values.ingress.service.externalTrafficPolicy }}
  {{- if hasKey $ingressService "externalIPs" }}
  externalIPs: {{ $ingressService.externalIPs | toYaml | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
  internalTrafficPolicy: {{ .ingress.service.internalTrafficPolicy | default $.Values.ingress.service.internalTrafficPolicy }}
  ipFamilyPolicy: PreferDualStack
  ports:
  - name: haproxy-synapse
    port: 8008
    targetPort: haproxy-synapse
  - name: haproxy-403
    port: 8009
    targetPort: haproxy-403
  selector:
    app.kubernetes.io/instance: "{{ $.Release.Name }}-haproxy"
{{- end -}}
{{- end -}}
