# Copyright 2024-2025 New Vector Ltd
# Copyright 2025 Element Creations Ltd
#
# SPDX-License-Identifier: AGPL-3.0-only

.helmignore
matrix-stack-*.tgz
source/
sub_schemas/
user_values/
[._]*.sw[a-p]
[._]*.s[a-v][a-z]
