# Copyright 2025 New Vector Ltd
# Copyright 2025-2026 Element Creations Ltd
#
# SPDX-License-Identifier: AGPL-3.0-only

name: GitHub Actions linting

on:
  pull_request:
  push:
    branches:
    - main
    - 'maintenance/*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  action-validator:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6

    - name: Get current week number and home dir
      id: cache-input
      run: |
        echo "week=$(date +%Y%U)" | tee -a "$GITHUB_OUTPUT"
        echo "runner-home=$HOME" | tee -a "$GITHUB_OUTPUT"

    - name: Cache ASDF for a week
      id: asdf-cache
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306  # v5
      env:
        gh_cache_prefix: ${{ runner.os }}-${{ runner.arch }}-asdf-
      with:
        key: ${{ env.gh_cache_prefix }}week-${{ steps.cache-input.outputs.week }}
        path: |
          ${{ steps.cache-input.outputs.runner-home }}/.asdf/bin

    - name: set up ASDF
      uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47  # v4
      with:
        skip_install: ${{ steps.asdf-cache.outputs.cache-hit == 'true' }}

    - name: Write asdf .tool-versions
      id: write-asdf-tools
      run: |
        echo "action-validator 0.6.0" | tee -a ".tool-versions"
        echo "tools-hash=$(sha256sum .tool-versions | cut -d ' ' -f 1)" | tee -a "$GITHUB_OUTPUT"

    - name: Restore ASDF tools from cache
      id: asdf-tools-cache
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306  # v5
      env:
        gh_cache_prefix: ${{ runner.os }}-${{ runner.arch }}-asdf-tools-
      with:
        key: ${{ env.gh_cache_prefix }}${{ steps.write-asdf-tools.outputs.tools-hash }}
        path: |
          ${{ env.ASDF_DIR }}/plugins
          ${{ env.ASDF_DIR }}/installs

    - name: Install ASDF tools
      uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47  # v4

    - name: Reshim installed ASDF tools
      run: asdf reshim

    - name: Lint Actions
      run: |
        find .github/workflows -type f \( -iname \*.yaml -o -iname \*.yml \) -print0 \
          | xargs -0 -I {} action-validator --verbose {}

  actionlint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6

    - name: Check workflow files
      uses: docker://rhysd/actionlint@sha256:887a259a5a534f3c4f36cb02dca341673c6089431057242cdc931e9f133147e9  # 1.7.7
      with:
        args: -color

  pinned-actions:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6

    - name: Find unpinned actions
      run: |
        # Find all actions that aren't docker images by digest or aren't GitHub commits by id
        # All with digest/commit ids also need comments
        unpinned_actions=$(
          find .github/workflows -type f \( -iname \*.yaml -o -iname \*.yml \) -print0 \
            | xargs -0 -I {} grep -E 'use[s]:' {} \
            | grep -vE 'use[s]:\s+docker://[^#]*@sha256:[a-f0-9]{64}\s+#\s' \
            | grep -vE 'use[s]:\s+[^#]*@[a-f0-9]{40}\s+#\s' || true)
        if [ "$unpinned_actions" != "" ]; then
          echo "There are unpinned actions:"
          echo "$unpinned_actions"
          exit 1
        fi

  explicit-permissions:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6

    - name: Find workflows that have jobs that rely on the default permissions
      run: |
        workflows_with_implicit_permissions=$(
          find .github/workflows -type f \( -iname \*.yaml -o -iname \*.yml \) -print0 \
            | xargs -0 -I {} yq '{filename: ([.jobs.* | has("permissions")] | all) or (. | has("permissions"))}' {} \
            | grep -E 'false$' || true)
        if [ "$workflows_with_implicit_permissions" != "" ]; then
          echo "There are workflows that have not set permissions either globally or for all jobs:"
          echo "$workflows_with_implicit_permissions"
          exit 1
        fi
